@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');


@-webkit-keyframes slide {
  100% { right: -800px; }
}

@keyframes slide {
  100% { right: -800px; }
}

@-webkit-keyframes slider {
  100% { left: 930px; }
}

@keyframes slider {
  100% { left: 930px; }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-rendering: optimizeLegibility;
  background-color: #f4f7f8;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

h2{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 120%;

}

.banner-wrapper {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
margin-left: -397px;
margin-right: -200px;
margin-top:26px;
position: relative;
  
}

.banner{
  width: 100%;
  height: 700px;
}

header {
  position: relative;
  position: fixed;
  z-index: 1;
  width: 100%;
}

main {
  padding: 50px;
}

body header {
  display: flex;
  font-size: 1.6rem;
  border-bottom: 1px solid  #659DBD;
  padding: -5px;
  background-color: white;
  justify-content: space-around;

}

body header nav {
  flex: 1;
  text-align: right; 
}


li a {
  color: #294d87;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid #047aed;
}

body header nav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}


body header nav ul li {
  display: inline-block;
  padding: 10.5px;
  margin-right: 8.5px;

}

body main {
  font-size: 1.15rem;
  flex: 1;
  padding: 15px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

body footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 1.15rem;
  border-top: 1px solid #000000;
  padding: 30px;
  background-color: #141d2d;
  color: #ffffff;
}

body footer #legal {
  flex: 1;
}
body footer nav {
  flex: 1;
  text-align: right;
}

body footer nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body footer nav ul li {
  display: inline-block;
  padding: 7.5px;
  margin-right: 7.5px;
}

body footer nav ul li a {
  font-size: 1.1em;
  color:white;
}

footer p {
  color: white;
}

.text-article {
  margin: 90px 200px 20px 200px;
}

.container1 {
	padding: 10px;
	background: white;
  border-radius: 5px;
	margin: 30px auto;
  box-shadow: 0 1.5px 0 0 rgb(242, 243, 245);
  color:white;
}

.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.item-1 {
  padding: 10px;
  background-color: #047aed;
  border-radius: 25px;
}

#portfolio {
  text-align: center;
  background-color: white;
  border-radius: 25px;
  margin-left: 550px;
  margin-right: 550px;
  color: #0000ff;
}

#motto {
  text-align: center;
}

#home-write {
  text-align: center;
}

.port-pic {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 50px;
  margin-left: 25px;
  gap: 2px;
}

.form-home {
  display: block;
  text-align: center;
  margin-top: 50px;
}

.button1 {
  padding: 3px;
  background-color: rgb(52, 95, 236);
}

#call-to-action {
  padding: 5px;
  background-color: #008000;
  text-align: center;
  margin: 20px 0px 20px 0px;
}

#call-to-action a {
  text-decoration: none;
}
#call-to-action-text {
  color: white;
}

#call-to-action-text a{
  text-decoration: none;
}

#call-to-action-text:hover{
  color: #ff0000;
}

  #logo {
    margin-top: 25px;
    margin-bottom: 0px;
  }

  .center-text {
    text-align: center;
  }

.image-inpost {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.text-over { 
  position: absolute;
  color: rgb(4, 4, 85);
  font-size: 50px;
  font-weight: 700;
  top: 26%; 
  left: -600px;
  text-align: center;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}

.text-over-button { 
  color: white;
  background-color: #047aed;
  position: absolute; 
  top: 53%; 
  left: 2000px;
  padding-left: 150px; 
  padding-right: 150px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-animation: slider 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slider 0.5s forwards;
  animation-delay: 2s;
  
}

.text-over-button:hover {
  color: red;
}

.card-grid {
 display: flex;
 flex:1;
 justify-content: center;

}

.card{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr auto;
  width: 340px;
  max-height: 1000px;
  box-shadow: 1px 1px 4px 1px #888;
  border-radius: 3px;
  background-color: white;
  margin-right:20px;
}

.img-wrap {
  grid-row: 1;
}

.review-wrap {
grid-row: 2;
padding: 15px;
font-family: 'Nerko One', cursive;
}

.control-wrap {
  grid-row: 3;
  padding: 10px;
}

.review-contact {
  background-color: green;
  border: 1px solid black;
  border-radius: 4px 0 0 4px;
  padding: 0 100px 0 100px ;
  color: white;
  font-size: 1.3rem;
  margin-left: 30px;
}


.review-text{
  text-align: center;
}

.wireframe {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
  gap:20px;
  
}

.wireframe1 {
  border: 4px solid blue;
}